body {
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff5722;
  }
}

.typed-text {
  font-family: 'FoglihtenNo06';
  font-size: 60px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ff5722;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 150px;
  height: auto;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#content {
  font-size: 27px;
  width: 100%;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5rem;
  text-align: center;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

h1 {
  font-size: clamp(12px, 8vw, 100px);
  line-height: 0.67;
  margin: 0 auto;
}

.buttons {
  margin-top: 2rem;
}

.btn-register,
.btn-login {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-register {
  background-color: #ff5722;
  color: white;
}

.btn-login {
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
}

.btn-register:hover {
  background-color: #e64a19;
}

.btn-login:hover {
  background-color: #ff5722;
  color: white;
}
.btn-orders {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  background-color: #ff5722;
  color: white;
}

.bars {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  margin-top: 10vh;
  justify-content: center;
}

.flow-content {
  position: absolute;
  left: 80px;
  font-size: 30px;
}
.bars-text {
  flex: 1 1 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.bars-text h2 {
  position: absolute;
  left: -10px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bars-text p {
  position: absolute;
  left: -10px;
  top: 3px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto;
}

.bars-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.kebab-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kebab {
  width: 400px;
  opacity: 0;
  position: absolute;
  animation: fadeIn 1s forwards;
  z-index: 1;
}

.kebabs {
  position: absolute;
  top: -500px;
  width: 750px;
  height: auto;
  left: -400px;
  z-index: 3;
  animation-delay: 0.5s;
}

.kebabl {
  position: absolute;
  top: -800px;
  width: 700px;
  height: auto;
  left: -400px;
  z-index: 2;
  animation-delay: 1m;
}

.kebabp {
  position: absolute;
  top: -900px;
  left: -400px;
  width: 700px;
  height: auto;
  z-index: 1;
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kebabl,
.kebabp {
  animation: slideUpDown 3s ease-in-out infinite alternate;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
